<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="dag_card_style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <title>{{ model_name }} Card</title>
</head>
<body>
    <div id="container">
        <!-- this holds the two col layout -->
        <div class="flex-container">
            <!-- this contains the left col, i.e. the title card + menu -->
            <div class="flex-left">
                <div id="cardBox">
                    <div id="cardTitle">
                        <span style="font-size: xx-large">{{ model_name }}</span><br/>
                        <span style="font-size: smaller">Card version: v{{ card_version }}</span><br/>
                        <span style="font-size: smaller">Last update: {{ last_update }}</span>
                    </div>
                </div>
                <!-- TODO: template this together with the content section below -->
                <div id="navMenu">
                    <div class="navMenuItem"><a href="#overviewSection">Overview</a></div>
                    <div class="navMenuItem"><a href="#ownersSection">Owners</a></div>
                    <div class="navMenuItem"><a href="#dagSection">DAG</a></div>
                    <div class="navMenuItem"><a href="#modelSection">Model</a></div>
                    <div class="navMenuItem"><a href="#feedbackSection">Feedback</a></div>
                </div>
            </div>
            <!-- this contains the right col, i.e. the actual verbose content -->
            <div class="flex-right">
                <a name="overviewSection"></a>
                <div class="cardSection">
                    <div class="sectionTitle">{{ model_name }}</div>
                    <div class="sectionContent">
                        <div>{{ model_overview }}</div>
                    </div>
                </div>
                <a name="ownersSection"></a>
                <div class="cardSection">
                    <div class="sectionTitle">Owners</div>
                    <div class="sectionContent">
                        <div>
                            <!-- TODO: I hate html -->
                            <table>
                                <tr>
                                    {% for owner in owners %}
                                        <td align="center" style="padding-right: 10px;">
                                            <img style="border-radius: 50%;" src="{{ owner.pic }}" width="50"/>
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for owner in owners %}
                                        <td align="center" style="padding-right: 10px; font-size: x-small; font-style: italic;">
                                            {{ owner.name }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                         <div id="ownerCharts" align="center">
                            <div style="width:75%;">
                                <canvas id="ownerCanvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <a name="dagSection"></a>
                <div class="cardSection">
                    <div class="sectionTitle">DAG</div>
                    <div class="sectionContent">
                        <div align="center">
                            <img src="{{ dag_picture }}" width="500" />
                        </div>
                        <div id="dagParams">
                            <em>Static Files and Parameters</em>
                            <table class="cardTable">
                                <thead><th>Name</th><th>Type</th></thead>
                            {% for param in dag_params %}
                                <tr><td>{{ param.name }}</td><td>{{ param.type }}</td></tr>
                            {% endfor %}
                            </table>
                        </div>
                        <div id="dagDetails">
                            <em>Step Details</em>
                            {% for step in flow %}
                            <details>
                              <summary>{{ step.name }}</summary>
                              {{ step.description }}
                              <br/><br/><span><b>Next step</b>: {{ step.next }}</span><br/><br/>
                            </details>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <a name="modelSection"></a>
                <div class="cardSection">
                    <div class="sectionTitle">Model</div>
                    <div class="sectionContent">
                        <div id="modelRuns">
                            {% for run in metaflow_runs %}
                            <details>
                              <summary>Run: {{ run.name }}, {{ run.finished_at }}</summary>
                                <br/><br/><span><b>Accuracy (Mean Square Error)</b>: {{ run.accuracy }}</span>
                                <br/><br/><span><b>Learning rate</b>: {{ run.best_learning_rate }}</span>
                                <br/><br/><span><b>Model file on s3</b>: {{ run.model_path }}</span>
                                <br/><br/>
                                    <b>Model architecture</b>:<br/><br/>
                                    <span>
                                         {% for line in run.best_model_summary.split('\n') %}
                                            {{ line }}<br/>
                                         {% endfor %}
                                    </span>
                                <br/><br/>
                            </details>
                            {% endfor %}
                        </div>
                        <div id="modelCharts" align="center">
                            <div style="width:75%;">
                                <canvas id="modelCanvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TODO: connect feedback section with actionable item -->
                <a name="feedbackSection"></a>
                <div class="cardSection">
                    <div class="sectionTitle">Feedback</div>
                    <div class="sectionContent">
                        We’d love your feedback on this card and the model itself - please also share any unexpected results.
                        You can open a ticket by clicking <span style="color: royalblue">here</span>.</div>
                </div>
                <div class="cardSection">
                    <div class="sectionTitle">Acknowledgments</div>
                    <div class="sectionContent">
                        Metaflow cards are inspired by
                        <a href="https://arxiv.org/pdf/1810.03993.pdf" target="_blank" style="color: royalblue">model cards</a>
                        from Google.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- load dictionaries from the builder into JSON objects -->
    <script>
        var WANDB_RUN = {{ wandb_runs|tojson }};
        console.log(WANDB_RUN);
        var USER_RUNS = {{ user_runs|tojson }};
        console.log(USER_RUNS);
    </script>
    <!-- first script, produce a line chart for metrics wrt model runs -->
    <script>
        /**
         * Returns a random number between min (inclusive) and max (exclusive)
        **/
        function getRandomArbitrary(min, max) {
            return Math.random() * (max - min) + min;
        }

        var datasets = [];
        var labels = [];
        for(var i = 0; i < WANDB_RUN[0]['history'].length; i++) {
            labels.push(WANDB_RUN[0]['history'][i]['epoch']);
        }
        for(var i = 0; i < WANDB_RUN.length; i++) {
            var h = WANDB_RUN[i]['history'];
            var data = [];
            for (var j = 0; j < h.length; j++) {
                data.push(h[j]['loss'])
            }
            var color = 'rgb(' + getRandomArbitrary(0, 256) + ', '
                + getRandomArbitrary(0, 256) + ', ' + getRandomArbitrary(0, 256) + ')';
            var d = {
                        label: WANDB_RUN[i].name,
                        fill: false,
                        borderColor: color,
                        backgroundColor: color,
                        data: data
                    };
            datasets.push(d);
        }
        // FROM: https://www.chartjs.org/docs/latest/getting-started/
        var ctx = document.getElementById('modelCanvas').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: datasets
            },
            // Label the axes
            options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'loss'
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'epoch'
                        }
                    }]
                }
            }
        });
        console.log('Chart done!');
    </script>
    <!-- second script, bar chart for the distributions of runs initiated by the users -->
    <script>
        var ctx_bars = document.getElementById('ownerCanvas').getContext('2d');
        var user_labels = Object.keys(USER_RUNS);
        var user_data = [];
        for(var i = 0; i < user_labels.length; i ++) {
            user_data.push(USER_RUNS[user_labels[i]]);
        }
        var chart_bars = new Chart(ctx_bars,
            {
                "type":"bar",
                "data":{
                    "labels":  user_labels,
                    "datasets":[
                        {
                            "label":"Runs per user",
                            "data": user_data,
                            "fill": false,
                            "backgroundColor": "rgba(65, 105, 225, 0.2)",
                            "borderColor": "rgb(65, 105, 225)",
                            "borderWidth":1
                        }
                        ]
                },
                "options": {
                    "scales":
                        {"yAxes":
                                [
                                    {
                                        "ticks": {"beginAtZero": true},
                                        scaleLabel: { labelString: 'runs'}
                                    }
                                    ]
                            }
                    }
            });
    </script>
</body>
</html>